/* Google font Oswald imported */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@200;300;400;500;600;700&family=Rampart+One&display=swap');

/* Pre loader background */
#preloader {
    background-color: #ffd4e2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

/* Middle Most line (only showing topmost border color and others are transparent) */
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    animation: spin 2s linear infinite;
}

/* Outer most line (used before psuedo class so that topmost border line aligns in top position) */
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    animation: spin 3s linear infinite;
}

/* Lower most line (used after psuedo class so that topmost border of it aligns in lower most position) */
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    animation: spin 1.5s linear infinite;
}

/* Spin animation for pre loader */
@keyframes spin {
    0%   {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Applying it all elements using all selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

/* For the navbar */
/* Used flex so that to align items */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* VibeMe in the navbar */
header .logo {
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

/* VibeMe text size increases on hover due to scale */
.logo:hover {
    transform: scale(1.2);
}

/* Giving it the size of browser screen */
.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    transition: 0.5s;
    z-index: 2;
}

/* Making video position behind everyone and used object fit so that video dimension can easily match up with browser screen */
.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

/* to make them responsive and have space b/w them */
.buttons {
    display: flex;
    justify-content: space-around;
}

/* designing the buttons */
.buttons button {
    margin-left: 10px;
    color: white;
    border-color: white;
    transition: all .2s ease-in-out;
}

/* hover feature on button */
.buttons button:hover {
    color: #39c8df;
    border-color: #39c8df;
}

/* just to give the complete size of that window */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* container containing the text and we have give its some z-index so that it remains above the video */
.text {
    position: relative;
    z-index: 10;
}

/* styling h2 tag */
.text h2 {
    font-size: 5em;
    font-weight: 500;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}

/* Styling h3 tag */
.text h3 {
    font-size: 4em;
    font-weight: 500;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}

/* Styling p tag */
.text p {
    font-size: 1.8rem;
    color: #fff;
    margin: 20px 0;
    font-weight: 300;
    max-width: 700px;
}

/* styling a tag */
.text a {
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
}

/* Hover section of anchor tag so that on hovering letter spacing b/w them increases and looks like it expand */
.text a:hover {
    letter-spacing: 3px;
}

/* Animation container */
.animation-container {
    position: relative;
}

/* Styling span tag  */
.animation-container span {
    text-transform: uppercase;
    display: block;
}

/* Styling Lets Vibe With section */
.text1 {
    font-size: 5em;
    font-weight: 500;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 10px;
    background-color: transparent;
    position: relative;
    animation: text1 2s ease-in-out 1;
}

/* Styling VibeMe section */
.text2 {
    font-size: 4em;
    font-weight: 400;
    line-height: 1em;
    text-transform: uppercase;
    color: #6ab04c;
    opacity: 1;
    animation: text2 2s ease-in-out 1;
}

/* to make the text1 go upward with inc. and dec. in letter spacing  */
@keyframes text1 {
    0% {
        opacity: 0;
        margin-bottom: -85px;
    }

    30% {
        letter-spacing: 25px;
    }

    85% {
        letter-spacing: 4px;
        margin-bottom: 10px;
    }
}

/* Just to make sure text2 becomes visible after some time */
@keyframes text2 {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }
}

/* animate.css fade in left animation and putting it on delay so that all animation looks synchronous */
.animate__animated.animate__fadeInLeftBig {
    animation-duration: 1.5s;
    animation-delay: 1s;
}

/* animate.css jack in the box animation */
.animate__animated.animate__jackInTheBox {
    animation-duration: 1.5s;
    animation-delay: 2.3s;
}

/* For making the landing page responsive */
@media (max-width: 991px) {

    .showcase,
    .showcase header {
        padding: 40px;
    }

    .text h2,
    .text1 {
        font-size: 3em;
    }

    .text h3,
    .text2 {
        font-size: 2em;
    }
}