@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@200;300;400;500;600;700&family=Rampart+One&display=swap');

#preloader {
    background-color: #ffd4e2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    transition: 0.5s;
    z-index: 2;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons button {
    margin-left: 10px;
    color: white;
    border-color: white;
    transition: all .2s ease-in-out;
}

.buttons button:hover {
    color: #39c8df;
    border-color: #39c8df;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text {
    position: relative;
    z-index: 10;
}

.text h2 {
    font-size: 5em;
    font-weight: 500;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}

.logo {
    transition: all 0.2s ease-in-out;
}

.logo:hover {
    transform: scale(1.2);
}

.text h3 {
    font-size: 4em;
    font-weight: 500;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    font-size: 1.8rem;
    color: #fff;
    margin: 20px 0;
    font-weight: 300;
    max-width: 700px;
}

.text a {
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
}

.text a:hover {
    letter-spacing: 3px;
}


.animation-container {
    position: relative;
}

.animation-container span {
    text-transform: uppercase;
    display: block;
}

.text1 {
    font-size: 5em;
    font-weight: 500;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 10px;
    background-color: transparent;
    position: relative;
    animation: text1 2s ease-in-out 1;
}

.text2 {
    font-size: 4em;
    font-weight: 400;
    line-height: 1em;
    text-transform: uppercase;
    color: #6ab04c;
    opacity: 1;
    animation: text2 2s ease-in-out 1;
}

@keyframes text1 {
    0% {
        opacity: 0;
        margin-bottom: -85px;
    }

    30% {
        letter-spacing: 25px;
    }

    85% {
        letter-spacing: 4px;
        margin-bottom: 10px;
    }
}

@keyframes text2 {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }
}

.animate__animated.animate__fadeInLeftBig {
    animation-duration: 1.5s;
    animation-delay: 1s;
}

.animate__animated.animate__fadeInRightBig {
    animation-duration: 1.5s;
    animation-delay: 1.8s;
}

@media (max-width: 991px) {

    .showcase,
    .showcase header {
        padding: 40px;
    }

    .text h2,
    .text1 {
        font-size: 3em;
    }

    .text h3,
    .text2 {
        font-size: 2em;
    }
}