<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Website Name -->
    <title>VibeMe</title>

    <!-- Website icon on title bar -->
    <link rel="icon" href="/image/Logo/title.png" type="image/png">

    <!-- Bootstraps CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/d021e746cf.js" crossorigin="anonymous"></script>

    <!-- Vendor CSS Files -->
    <link href="/css/vendor userbase/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/vendor userbase/icofont/icofont.min.css" rel="stylesheet">
    <link href="/css/vendor userbase/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/css/vendor userbase/venobox/venobox.css" rel="stylesheet">
    <link href="/css/vendor userbase/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/css/vendor userbase/aos/aos.css" rel="stylesheet">

    <!-- Custom CSS stylesheet -->
    <link rel="stylesheet" href="/css/changePasswordPage/styles.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="main-frame">
        <div class="sidebar-div">
            <div class="sidebar-heading-outer">
                <div class="sidebar-heading">
                    <h1>User Profile</h1>
                </div>
            </div>
            <div class="sidebar-edit-profile-outer" onclick="window.location.href='#'">
                <div class="sidebar-content">
                    <i class="fas fa-user-edit"></i>
                    <p>Edit Profile</p>
                </div>
                <div class="border-decoration Invisible"></div>
            </div>
            <div class="sidebar-change-password-outer" onclick="window.location.href='#'">
                <div class="sidebar-content">
                    <i class="fas fa-key"></i>
                    <p>Change Password</p>
                </div>
                <div class="border-decoration "></div>
            </div>
            <div class="sidebar-delete-account-outer" onclick="window.location.href='#'">
                <div class="sidebar-content">
                    <i class="fas fa-trash"></i>
                    <p>Delete Account</p>
                </div>
                <div class="border-decoration Invisible"></div>
            </div>
        </div>
        <div class="content-div">
            <form action="/user/change?_method=PUT" method="POST" id="changePassword">
                <div class="content-box">
                    <div class="old-password-box">
                        <div class="mb-3">
                            <label for="user-email" class="form-label">Old Password</label>
                            <input type="password" class="form-control" id="oldPassword" name="oldPassword" required>
                        </div>
                        {{#if error}}
                        <div class="form-error">{{error}}</div>
                        {{/if}}
                    </div>
                    <div class="new-password-box">
                        <div class="mb-3">
                            <label for="user-email" class="form-label">New Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                            <div id="passAlert"></div>
                        </div>
                    </div>
                    <div class="confirm-password-box">
                        <div class="mb-3">
                            <label for="user-email" class="form-label">Confirm New Password</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                        </div>
                    </div>
                    <div class="submit-button-box">
                        <button type="submit" class="btn-hover color-4">Update Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Bootstrap Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

    <!-- JQuery Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Custom Script -->
    <script src="/script/script.js"></script>
    <script src="/script/changePassword/changePasswordForm.js"></script>
</body>



</html>