<div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">{{this.creator}}</h3>
          <img src="data:image/png;charset=utf-8;base64,{{this.image}}" >
          <p class="card-text mb-auto">{{this.content}}</p>
</div>