<div class="container mt-5" id="signupForm">
    <form action="/user/signup" method="POST" id="signup" class="row g-4">
        <div class="col-md-9">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" required />
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" required />
        </div>
    <div class="row">
        <div class="col-md-9">
           <label for="email" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" required />
        </div>
        <div id="emailAlert"></div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required />
        </div>
        <div id="passAlert"></div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required />
        </div>
    </div>
    <div class="row">
        <div class="row-12">
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
    </div>
    </form>
</div>

{{!-- <script src="/script/signupForm.js"></script> --}}