{{>header}}


<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
<link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
<link href="/css/filepond.css" rel="stylesheet">

<h1>{{creator}}</h1>
<form action="/post/edit/{{id}}?_method=PUT" method="post">
    
Leave the image if you don't want to change
<input type="file" name="image" placeholder="image" class="filepond" value="{{image}}">    Upload image
    <input type="text" value="{{content}}" name="content" required>
    <button type="submit">Edit</button>
</form>

<script src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>

<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>

<script src="https://unpkg.com/filepond-plugin-image-transform/dist/filepond-plugin-image-transform.js"></script>

<script src="/script/filepond.js"></script>

{{>footer}}