{{>header}}

{{#if post}}

    {{#each post}}

        {{>post this}}

    {{/each}}

{{else}}
    <h1>no post yet</h1>

{{/if}}


{{! This script takes care of likes functionality }}

<script src="/script/likes.js"></script>
{{>footer}}