{{>header}}

{{>profileSection}}


    <div class="mb-3 row">
        <form action="/user/update" method="post" class="d-inline mb-2">
            <button type="submit" class="btn btn-primary">Edit Profile</button>
        </form>
        <form action="/user/change" method="post">
            <button type="submit" class="btn btn-secondary mb-3">Change Password</button>
        </form>
        <form action="/user/delete?_method=DELETE" onsubmit="return confirm('Are you sure you want to delete this account? This cannot be reversed.');" method="post">
            <button type="submit" class="btn btn-danger ">Delete My Account</button>
        </form>
    </div>

    <a href="/connect/view"> <button>View connections</button></a>

{{>footer}}