<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Website Name -->
    <title>VibeMe</title>

    <!-- Website icon on title bar -->
    <link rel="icon" href="/image/Logo/title.png" type="image/png">

    <!-- New CSS stylesheet -->
    <link rel="stylesheet" href="/css/404-Page/styles.css">
</head>

<body>

    <div class="background-image"></div>

    <div class="main-content">
        <div class="main-content-wrapper">
            <div class="content-box">
                <h1>OOPS!</h1>
                <p>You’ve found our inspiration secret weapon… a pink flamingo.</p>
                <div class="button-container">
                    <a class="button" href="/login">Go Home</a>
                </div>
            </div>
        </div>
    </div>
</body>



</html>