<!-- Help page code -->

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Website Name -->
    <title>VibeMe</title>

    <!-- Website icon on title bar -->
    <link rel="icon" href="/image/Logo/title.png" type="image/png">

    <!-- Bootstraps CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/d021e746cf.js" crossorigin="anonymous"></script>

    <!-- Font Style -> Space Mono Regular 400 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito+Sans:wght@600&family=Roboto:wght@500&display=swap"
        rel="stylesheet">

    <!-- Font Style -> Inter 900 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap" rel="stylesheet">

    <!-- Custom CSS stylesheet -->
    <link rel="stylesheet" href="/css/Login Page/style.css">

    <!-- New CSS stylesheet -->
    <link rel="stylesheet" href="/css/Help Page/HelpPageStyles.css">

</head>

<body>

    <!-- About Page -->
    <div class="HelpPage">

        <!-- Navbar -->
        <header>
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-mainbg">
                <!-- Logo -->
                <a class="navbar-brand navbar-logo" href="/">VibeMe</a>
                <!-- Collapse Button -->
                <button id="tog" class="navbar-toggler button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <!-- Hamburger Icon when screen size is less -->
                    <span class="navbar-toggler-icon"><i class="fas fa-bars nav-button"></i></span>
                </button>
                <!-- Links -->
                {{#if loggedIn}}
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <!-- For Styling -->
                        <div class="hori-selector">
                            <div class="left"></div>
                            <div class="right"></div>
                        </div>
                        <!-- Nav Links -->
                        <li class="nav-item">
                            <a class="nav-link" href="/about">
                                About
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/help">
                                Help
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="navbarContent" href="/user/profile">
                                Profile
                            </a>
                        </li>
                    </ul>
                </div>

                {{else}}
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <!-- For Styling -->
                        <div class="hori-selector">
                            <div class="left"></div>
                            <div class="right"></div>
                        </div>
                        <!-- Nav Links -->
                        <li class="nav-item">
                            <a class="nav-link" href="/about">
                                About
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/help">
                                Help
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="navbarContent" href="/login">
                                Sign in
                            </a>
                        </li>
                    </ul>
                </div>
                {{/if}}
            </nav>
        </header>

        <main>

            <!-- Outer div containing text and images -->
            <div id="background">

                <!-- containing images which will be shown on a min-width -->
                <div class="faq-container-desktop-illustrations flex-column-center">

                    <img src="/image/Help Page Images/illustration-woman-online-desktop.svg"
                        alt="illustration of woman operating a computer" class="desktop-illustration-main-image">
                    <img src="/image/Help Page Images/bg-pattern-desktop.svg" alt="background shadow for illustration"
                        class="desktop-illustration-background-image">

                </div>

                <!-- containing images which will be shown when above images are not shown -->
                <div class="faq-container-mobile-illustrations">
                    <img src="/image/Help Page Images/illustration-woman-online-mobile.svg"
                        alt="illustration of woman operating a computer" class="mobile-illustration-main-image">
                    <img src="/image/Help Page Images/bg-pattern-mobile.svg" alt="background shadow for illustration"
                        class="mobile-illustration-background-image">
                </div>

                <!-- contains text -->
                <div class="faq-text accordion-container ">

                    <h1>Frequently asked questions</h1>
                    <p>Learn more about our service</p>

                    <!-- unordered list containing the points which we have written -->
                    <ul class="accordion-list">

                        <li>
                            <div class="accordion-title">
                                <h2>How do I create my VibeMe account?</h2>

                                <!-- icon of down arrow -->
                                <figure class="up-down-arrow">
                                    <svg width="10" height="7" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 .799l4 4 4-4" stroke="#F47B56" stroke-width="2" fill="none"
                                            fill-rule="evenodd" />
                                    </svg>
                                </figure>
                            </div>
                            <p class="focus-part">Creating an account on vibeme is very simple. All you need is a email
                                address and a BRAIN 🧠 with few fingers 😂. </p>
                            <p class="not-focus-part">Go to the login page of vibeme (vibeme.herokuapp.com/login). There
                                you will see the login form. Click on link ‘No account? Sign up’. Now fill out your
                                details in signup form. After submitting the form you will receive an account
                                confirmation link on your filled email. Click on the link to activate your account and
                                BANG you are a registered user of our community.</p>
                        </li>

                        <li>
                            <div class="accordion-title">
                                <h2>Is my account free? Do I have to pay anything?</h2>
                                <figure class="up-down-arrow">
                                    <svg width="10" height="7" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 .799l4 4 4-4" stroke="#F47B56" stroke-width="2" fill="none"
                                            fill-rule="evenodd" />
                                    </svg>
                                </figure>
                            </div>
                            <p class="focus-part"> Vibeme is completely free. </p>
                            <p class="not-focus-part">Absolutely not. You don’t have to pay anything to use vibeme. Do
                                you pay your friends when you wanna hang out or VIBE with them 😃?
                            </p>
                        </li>

                        <li>
                            <div class="accordion-title">
                                <h2>Can anyone create an account?</h2>
                                <figure class="up-down-arrow">
                                    <svg width="10" height="7" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 .799l4 4 4-4" stroke="#F47B56" stroke-width="2" fill="none"
                                            fill-rule="evenodd" />
                                    </svg>
                                </figure>
                            </div>
                            <p class="focus-part">You only need an email address to verify your account. </p>
                            <p class="not-focus-part">Yes, anyone can create an account on vibeme you , your little
                                sibling your father , even your gf i mean grand father LOL.</p>
                        </li>

                        <li>
                            <div class="accordion-title">
                                <h2>How can I close my VibeMe account?</h2>
                                <figure class="up-down-arrow">
                                    <svg width="10" height="7" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 .799l4 4 4-4" stroke="#F47B56" stroke-width="2" fill="none"
                                            fill-rule="evenodd" />
                                    </svg>
                                </figure>
                            </div>
                            <p class="focus-part">To close your account, log in to your account.
                                Click the icon on top right, select delete account.
                                You will be redirected to the delete account page.
                                Click on the delete account button.
                            </p>
                            <p class="not-focus-part">If you delete your account it can not be recovered so all the
                                posts and VIBEs will be gone so we would recommend not to do such.</p>
                        </li>

                        <li>
                            <div class="accordion-title">
                                <h2>Why should I use your service?</h2>
                                <figure class="up-down-arrow">
                                    <svg width="10" height="7" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 .799l4 4 4-4" stroke="#F47B56" stroke-width="2" fill="none"
                                            fill-rule="evenodd" />
                                    </svg>
                                </figure>
                            </div>
                            <p class="focus-part">FREE , Enjoy unlimited costfree !
                                Connect to world more and advertise yourself or your Business cost free!
                                Do you really need to think WHY when you wanna VIBE ?
                            </p>
                            <p class="not-focus-part"></p>
                        </li>

                    </ul>

                </div>

                <!-- separate box image -->
                <img src="/image/Help Page Images/illustration-box-desktop.svg" alt="illustration box"
                    class="illustration-box-desktop">
            </div>

        </main>

        <!-- footer -->
        <footer>
            <p class="text-center">&copy; 2021 All rights Reserved</p>
        </footer>

    </div>

    <!-- Bootstrap Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

    <!-- JQuery Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Custom Script -->
    <script src="/script/script.js"></script>

    <!-- New Script -->
    <script src="/script/HelpPageScript/script.js"></script>
</body>



</html>