<!-- This is our landing page -->

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Website Name -->
    <title>VibeMe</title>

    <!-- Website icon on title bar -->
    <link rel="icon" href="/image/Logo/title.png" type="image/png">

    <!-- Bootstraps CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- Animate.css CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <!-- New CSS stylesheet -->
    <link rel="stylesheet" href="/css/Landing Page/style.css">

</head>

<body>

    <!-- Pre Loader -->
    <div id="preloader">

        <!-- For designing the 3 round lines using complete CSS -->
        <div id="loader"></div>

    </div>

    <!-- -->
    <section class="showcase">

        <!-- Navbar for the landing page -->
        <header>

            <!-- Brand Name -->
            <h2 class="logo">VibeMe</h2>

            <!-- Buttons to be displayed on navbar -->
            <div class="buttons">

                <!-- Takes to about page. Used on click function as button don't have href tag like anchor tag-->
                <button type="button" class="btn btn-lg" onclick="location.href = '\about';">About</button>

                <!-- Takes to help page -->
                <button type="button" class="btn btn-lg" onclick="location.href = '\help';">Help</button>

            </div>

        </header>

        <!-- Background video which is muted and played in a loop with autoplay, no download and no PIP feature enable -->
        <video class="background-video" src="/video/Landing Page/Background-Video.mp4" autoplay muted loop
            controlsList="nodownload" disablePictureInPicture></video>

        <!-- So that our video and text can be easily aligned as per our browser screen-->            
        <div class="overlay"></div>

        <!-- Text part of our landing page-->
        <div class="text">

            <!-- Lets Vibe with VibeMe container having animation-->
            <div class="animation-container">

                <!-- Used span so that we can easily animate every word easily -->
                <span class="to-be-animated-text1">Lets Vibe With</span>

                <span class="to-be-animated-text2">VibeMe</span>

            </div>

            <!-- In this we have used animate.css library just to use predefine animation -->
            <p class="to-be-animated-para">become part of our community</p>

            <!-- It goes to login page -->
            <a class="to-be-animated-anchor" href="/login">Start Vibing</a>

        </div>

    </section>
    
    <!-- Bootstrap Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
        </script>

    <!-- JQuery Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Custom JS -->
    <script src="/script/LandingPageScript/script.js"></script>
    
</body>

</html>