@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;600&display=swap');

/* styling main tag */
main {
    min-height: 100vh;
    max-height: auto;
    background: #FFD4E2;
    background: -webkit-linear-gradient(to bottom, #FFD4E2 0%, #8D71D1 100%);
    background: -moz-linear-gradient(to bottom, #FFD4E2 0%, #8D71D1 100%);
    background: linear-gradient(to bottom, #FFD4E2 0%, #8D71D1 100%);
    color: #1d1e35;
    display: grid;
    place-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    transition: color .15s ease;
}

/* background for outer div */
#background {
    position: relative;
    display: flex;
    width: 70%;
    height: 600px;
    border-radius: 20px;
    background-color: aliceblue;
    box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.72);
    margin-top: 100px;
    margin-bottom: 100px;
}

/* so that elements become horizontally and vertically align */
.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faq-container-desktop-illustrations {
    position: relative;
    width: 50%;
    overflow: hidden;
    height: 100%;
}

.faq-container-mobile-illustrations {
    display: none;
}

.desktop-illustration-main-image {
    position: absolute;
    left: -80px;
}

.desktop-illustration-background-image {
    position: relative;
    width: 160%;
    left: -240px;
    top: -20px;
}

/* Its position changes with height of background div */
.illustration-box-desktop {
    position: absolute;
    top: 260px;
    left: -93px;
}

.accordion-container {
    width: 50%;
    margin: 80px 40px 80px 0;
}

.accordion-list {
    list-style: none;
    padding: 0;
    width: 90%;
}

.accordion-list li {
    border-bottom: 2px solid #e7e7e9;
    max-height: 75px;
}

.accordion-title {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0 0;
    cursor: pointer;
}

main h1 {
    color: #313138;
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 600;
}

main p {
    color: #60606d;
    font-size: 1rem;
}

main h2 {
    font-size: 1.2rem;
    font-weight: 300;
}

main .accordion-list p {
    color: #787887;
    line-height: 18px;
    font-size: 0.85rem;
    max-height: 0;
    overflow: hidden;
}

.Invisible {
    display: none;
}

.accordion-title:hover {
    color: #f47c57;
}

.accordion-container > p {
    margin-bottom: 0;  
}

.up-down-arrow {
    margin-bottom: 0;
}

.accordion-list li.open h2 {
    font-weight: 450;
}

.accordion-list li.open p.focus-part {
    background-color: #ffd970;
    color: #474649;
    border-radius: 7px;
    max-height: 180px;
    margin-top: 5px;
    padding: 15px;
    margin-bottom: 10px;
    line-height: 1.3rem;
    overflow: auto;
    transition: all 1s ease-in-out;
}

.accordion-list li.open p.not-focus-part {
    color: #83837D;
    max-height: 220px;
    padding-bottom: 15px;
    margin-bottom: 0;
    transition: all 1s ease-in-out;
    overflow: auto;
}

.accordion-list li.open figure {
    transform: rotate(180deg);
}

@media (max-width: 1200px) {
    #background {
        width: 80%;
        min-height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .faq-container-desktop-illustrations,
    .illustration-box-desktop {
        display: none;
    }

    .faq-container-mobile-illustrations {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .mobile-illustration-main-image {
        position: absolute;
        top: -125px;
    }

    .mobile-illustration-background-image {
        position: absolute;
        top: -20px;
    }

    .accordion-container {
        margin: auto;
        margin-top: 0;
        width: 90%;
        padding-top: 120px;
    }

    .accordion-list {
        width: 100%;
    }

    .accordion-container h1 {
        text-align: center;
    }
}

@media (max-width: 650px) {
    #background {
        min-height: 800px;
    }
}

@media (max-width: 0px) {
    #background {
        min-height: 750px;
    }
}